.Answers{
    list-style: none;
    margin: 0;
    padding: 0;
}
.Answers li{
    padding: 10px;
    background-color: #ebf0fd;
    margin: 0 0 5px;
    box-sizing: border-box;
    border-radius: 15px;
}
.Answers li:hover{
    cursor: pointer;
    background-color: #b8d5e9;
}
.Answers .correct,
.Answers .correct:hover {
    background-color: #1db900;
    border-left: 4px solid #0f6300;
    color: #fff;
}
.Answers .incorrect,
.Answers .incorrect:hover {
    background-color: #ec0000;
    color: #fff;
}
.Answers[disabled] {
    pointer-events: none;
    opacity: 0.7;
}